@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

:root{
    --blanco:rgba(228,228,228,1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Playwrite, Arial, Helvetica, sans-serif;
}
html{
    font-size: 1.5rem;
   
}
body{
    display: flex;
    justify-content: center;
    min-height: 100 vh;
    align-items: center;
    width: 100%;

     background-image: url(img/imagen.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     backdrop-filter: blur 8px;
     -webkit-backdrop-filter: blur(8px);
}
body::before{
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

}

body > *{
    position: relative;
    z-index: 2;
}

.reproductormusica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    width: 300px;
    padding: 10px 30px;
    border-radius:20px ;
    background-color: rgba(228, 228, 228, 0.5);

    
}

.reproductormusica h1{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
}

.reproductormusica p{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;

}

#progreso{
    appearance: none;
    -webkit-appearance: none;
    width: 100;
    height: 7px;
    background-color: rgba(165, 165, 165, 0.9);
    border-radius: 4px;
    margin: 32px 0 24px;
    cursor: pointer;

}
#progreso::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    background-color: rgba(165, 165, 165, 0.9) ;
    width: 16;
    aspect-ratio: 1 ;
    border-radius: 50%;
    outline: 4px solid var(--blanco);
    box-shadow: 0 6px 10px rgba(228, 228, 228, 0.5);
}
